<div style="width: 300px;">
    <h1>Welcome to The Burg!</h1>

    <h4>Please join us on Discord:</h4>

    <h3 style="text-decoration: underline; text-shadow: 2px 2px 7px;">
        <a href="{{{ invite_code }}}" target="_blank">{{{ invite_code }}}</a>
    </h3>

    This link is valid forever but for <i>one use only</i>, so please keep it private.

    <br/><br/>

    It <i>will not</i> be shown again, so save it if you're not ready to join.

    <br/><br/>

    We look forward to seeing you there!
</div>