<div>
    <h2>{{ name }}</h2>

    <div class="cardText"
        style="margin: 1em; padding: 1em; border: 1px solid rgb(85, 45, 45); border-radius: 0.2em; background-color: rgb(220, 223, 255)">
        {{{ text }}}
    </div>
    <div>Set: {{ setCode }}</div>

    {{#TMPL_legal}}
    <div class="legal" style="color: green;">Legal</div>
    {{/TMPL_legal}}
    {{^TMPL_legal}}
    <div style="color:red">
        <h3>Illegal</h3>
    </div>
    {{/TMPL_legal}}

    <div>Number of words: {{ num_words }}</div>
</div>